#26: Membuat Data Frame dari hasil seleksi Spreadsheet

Bryan Nicholas - 2273009

Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.1.3

Membuat Data Frame dari hasil seleksi Spreadsheet

In [2]:
df = pd.read_clipboard()
df

   df   =  pd.read_clipboard()
0  df NaN                  NaN