#11: Melakukan seleksi kolom dan baris pada Data Frame menggunakan loc

Bryan Nicholas - 2273009

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.3
1.26.2

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  10   2  19   9   7
1  13  18   7   1   5
2   8  12  13  17   1
3  19  10   5   8  14
4  13   9  15   3   7
5  11  19  17  19   4
6  11   5  19  13  19
7   8  12  10  14   3
8  11   9  19   2  10
9  19   8  11  15   6

Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   2   7
3  10  14
4   9   7

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D  E
1  18   1  5
2  12  17  1
5  19  19  4
7  12  14  3

Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   2  19   9
1  18   7   1
2  12  13  17
3  10   5   8
4   9  15   3