#05: Membalik urutan baris dan kolom pada Data Frame

Bryan Nicholas - 2273009

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.3
1.26.2

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  7  3  9  2  4
1  6  5  7  1  9
2  8  6  7  2  3
3  5  8  7  6  3
4  2  7  6  1  1

Membalik urutan kolom

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  4  2  9  3  7
1  9  1  7  5  6
2  3  2  7  6  8
3  3  6  7  8  5
4  1  1  6  7  2

Membalik urutan baris

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  2  7  6  1  1
3  5  8  7  6  3
2  8  6  7  2  3
1  6  5  7  1  9
0  7  3  9  2  4

Membalik urutan baris dan melakukan penyesuaian ulang index

In [5]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  2  7  6  1  1
1  5  8  7  6  3
2  8  6  7  2  3
3  6  5  7  1  9
4  7  3  9  2  4