#30: Akses nilai variabel pada query()

Bryan Nicholas - 2273009

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.3
1.26.2

Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  11  13  16  13  11
1   3   5  16  18  11
2   6  12  17  13   1
3   3   8  16   5  11
4   2  12   3  17   3

Akses nilai variabel pada query()

In [3]:
df.query('A > 10')

    A   B   C   D   E
0  11  13  16  13  11

In [4]:
rerata = df['A'].mean()
rerata

5.0

In [5]:
df.query('A > @rerata')

    A   B   C   D   E
0  11  13  16  13  11
2   6  12  17  13   1