51: Seleksi baris dengan between()

Bryan Nicholas - 2273009

Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.3
1.26.2

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  2  2  1  4  8
1  5  3  2  7  9
2  4  9  9  4  3
3  1  2  8  5  9
4  3  4  4  2  7
5  6  1  9  5  9
6  9  6  6  6  8
7  7  5  5  4  2
8  1  5  4  8  2
9  9  1  2  2  4

Seleksi baris dengan between()

In [3]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  2  2  1  4  8
1  5  3  2  7  9
2  4  9  9  4  3
4  3  4  4  2  7

In [ ]:
df[df['A'].between(2, 5, inclusive=False)]